    <h3>$title</h3>
    <button id="btn-hide-all-children" type="button">Saṁvaṭṭo</button>    
<button id="btn-show-all-children" type="button">Vivaṭṭo</button>
<hr>
<table id="pali" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Pattern</th>
            <th>Texts</th>
            <th>Matches</th>
            <th>Size</th>
            <th>Pitaka</th>
            <th class="none">Language</th>
            <th class="none">Date</th>
        </tr>
    </thead>
    <tbody>