<!DOCTYPE html>
<html>
<head>
  <title>Adhivacanas 1 texts and 2 matches in Suttanta Pali</title>
  <link rel="icon" type="image/png" href="https://find.dhamma.gift/assets/favico.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">


<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/jszip-2.5.0/dt-1.12.1/af-2.4.0/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/cr-1.5.6/date-1.1.2/fc-4.1.0/fh-3.2.4/kt-2.7.0/r-2.3.0/rg-1.2.0/rr-1.2.8/sc-2.0.7/sb-1.3.4/sp-2.0.2/sl-1.4.0/sr-1.1.1/datatables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.12.1/sorting/natural.js"></script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css
" rel="stylesheet" type="text/css" />
<link href="/css/extrastyles.css" rel="stylesheet" />

  
   <style>
	* {
      font-family: sans-serif;
    }
	
	
	root {
	--bs-link-color: #16A085;
    --bs-link-hover-color: #2C3E50;
	}

a {
	--bs-link-color: #0000EE;
    --bs-link-hover-color: #912a07;
	}

    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
    content:'+';
    background-color:#16A085
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color:#054a99

}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before{
    content:'-';
    background-color:#912a07
}


/* #2C3E50*/
freebutton {
text-align: left;
}
    
    .quote {
    color=#6A6969;
    }
    b {
    color:#912a07;
    }
    
     br {
            display: block; 
            content: ""; 
            margin-top: 8;
    }

    .skip {
      display: none;
    }

    .styled {
      content: "";
      display: block;
      height: 0.8em;
    }
    .btwntrn {
        content: "";
      display: block;
      height: 0.3em;
      
    }
	 
	.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: #fff;
    --bs-pagination-border-width: 1px;
    --bs-pagination-border-color: #dee2e6;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: #e9ecef;
    --bs-pagination-hover-border-color: #dee2e6;
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: #e9ecef;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #0d6efd;
    --bs-pagination-active-border-color: #0d6efd;
    --bs-pagination-disabled-color: #6c757d;
    --bs-pagination-disabled-bg: #fff;
    --bs-pagination-disabled-border-color: #dee2e6;
    display: flex;
    padding-left: 0;
    list-style: none;
}

      </style>


</head>
<body >
<div class="container-fluid mt-2">    
<h3 class="pl-5 ml-5">Adhivacanas 1 texts and 2 matches in Suttanta Pali</h3>
    <button id="btn-hide-all-children" class="btn btn-light" type="button">Saṁvaṭṭo</button>    
<button id="btn-show-all-children" class="btn btn-light" type="button">Vivaṭṭo</button>
<hr>
<table id="pali" class="display table table table-striped table-hover table-responsive " cellspacing="0" width="100%">

    <thead class="thead-light">
        <tr >
            <th>Sutta</th>
            <th>Words</th>
            <th>Count</th>
            <th>Metaphors</th>
            <th class="none">Title</th>
            <th class="none">Quote</th>
            <th class="none">Full texts</th>
        </tr>
    </thead>
    <tbody><tr>
<td><a class="freebutton " target="_blank" href=https://find.dhamma.gift/sc/?q=an7.72&lang=pli-eng>an7.72</a></td>
<td>loha<b>guḷa</b>ṁ</td>
<td>3</td>   
<td>0</td>
<td><strong>Aṅguttara Nikāya 7.72 7.72:0.2 7. Mahāvagga Aggikkhandhopamasutta</strong></td>
<td>
katamaṁ nu kho varaṁ—yaṁ balavā puriso tattena ayosaṅkunā mukhaṁ vivaritvā tattaṁ loha<b>guḷa</b>ṁ ādittaṁ sampajjalitaṁ sajotibhūtaṁ mukhe pakkhipeyya—taṁ tassa oṭṭhampi daheyya mukhampi daheyya jivhampi daheyya kaṇṭhampi daheyya urampi daheyya antampi antaguṇampi ādāya adhobhāgā nikkhameyya, yaṁ vā khattiyamahāsālānaṁ vā brāhmaṇamahāsālānaṁ vā gahapatimahāsālānaṁ vā saddhādeyyaṁ piṇḍapātaṁ paribhuñjeyyā”ti? <br class=btwntrn>
Which is better—to have a strong man force your mouth open with a hot iron spike and shove in a red-hot copper ball, burning, blazing, and glowing, that burns your lips, mouth, tongue, throat, and stomach before coming out below dragging your entrails? Or to enjoy almsfood given in faith by well-to-do aristocrats or brahmins or householders?” <br class=btwntrn>
<br class="styled">
“Etadeva, bhante, varaṁ—yaṁ khattiyamahāsālānaṁ vā brāhmaṇamahāsālānaṁ vā gahapatimahāsālānaṁ vā saddhādeyyaṁ piṇḍapātaṁ paribhuñjeyya, dukkhañhetaṁ, bhante, yaṁ balavā puriso tattena ayosaṅkunā mukhaṁ vivaritvā tattaṁ loha<b>guḷa</b>ṁ ādittaṁ sampajjalitaṁ sajotibhūtaṁ mukhe pakkhipeyya—taṁ tassa oṭṭhampi daheyya mukhampi daheyya jivhampi daheyya kaṇṭhampi daheyya urampi daheyya antampi antaguṇampi ādāya adhobhāgaṁ nikkhameyyā”ti. <br class=btwntrn>
“Sir, it would be much better to enjoy almsfood given in faith by well-to-do aristocrats or brahmins or householders. For it would be painful to have a strong man force your mouth open with a hot iron spike and shove in a red-hot copper ball, burning, blazing, and glowing, that burns your lips, mouth, tongue, throat, and stomach before coming out below dragging your entrails.” <br class=btwntrn>
<br class="styled">
“Ārocayāmi vo, bhikkhave, paṭivedayāmi vo, bhikkhave, yathā etadeva tassa varaṁ dussīlassa …pe… kasambujātassa yaṁ balavā puriso tattena ayosaṅkunā mukhaṁ vivaritvā tattaṁ loha<b>guḷa</b>ṁ ādittaṁ sampajjalitaṁ sajotibhūtaṁ mukhe pakkhipeyya—taṁ tassa oṭṭhampi daheyya mukhampi daheyya jivhampi daheyya kaṇṭhampi daheyya urampi daheyya antampi antaguṇampi ādāya adhobhāgaṁ nikkhameyya. <br class=btwntrn>
“I declare this to you, mendicants, I announce this to you! It would be better for that unethical man to have a strong man force his mouth open with a hot iron spike and shove in a red-hot copper ball, burning, blazing, and glowing, that burns his lips, mouth, tongue, throat, and stomach before coming out below with his entrails. <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=an7.72&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/an7_72-aggi-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=an7.72&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=an10.176&lang=pli-eng>an10.176</a></td>
<td>mālā<b>guḷa</b>parikkhittāpi</td>
<td>2</td>   
<td>0</td>
<td><strong>Aṅguttara Nikāya 10.176 17. Jāṇussoṇivagga Cundasutta</strong></td>
<td>
Kāmesumicchācārī hoti. Yā tā māturakkhitā piturakkhitā mātāpiturakkhitā bhāturakkhitā bhaginirakkhitā ñātirakkhitā gottarakkhitā dhammarakkhitā sasāmikā saparidaṇḍā antamaso mālā<b>guḷa</b>parikkhittāpi, tathārūpāsu cārittaṁ āpajjitā hoti. <br class=btwntrn>
They commit sexual misconduct. They have sexual relations with women who have their mother, father, both mother and father, brother, sister, relatives, or clan as guardian. They have sexual relations with a woman who is protected on principle, or who has a husband, or whose violation is punishable by law, or even one who has been garlanded as a token of betrothal. <br class=btwntrn>
<br class="styled">
Kāmesumicchācāraṁ pahāya, kāmesumicchācārā paṭivirato hoti yā tā māturakkhitā piturakkhitā mātāpiturakkhitā bhāturakkhitā bhaginirakkhitā ñātirakkhitā gottarakkhitā dhammarakkhitā sasāmikā saparidaṇḍā antamaso mālā<b>guḷa</b>parikkhittāpi, tathārūpāsu na cārittaṁ āpajjitā hoti. <br class=btwntrn>
They give up sexual misconduct. They don’t have sexual relations with women who have their mother, father, both mother and father, brother, sister, relatives, or clan as guardian. They don’t have sexual relations with a woman who is protected on principle, or who has a husband, or whose violation is punishable by law, or even one who has been garlanded as a token of betrothal. <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=an10.176&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/an10_176-cunda-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=an10.176&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=an10.211&lang=pli-eng>an10.211</a></td>
<td>mālā<b>guḷa</b>parikkhittāpi</td>
<td>2</td>   
<td>0</td>
<td><strong>Aṅguttara Nikāya 10.211 21. Karajakāyavagga Paṭhamanirayasaggasutta</strong></td>
<td>
Kāmesu micchācārī hoti, yā tā māturakkhitā piturakkhitā mātāpiturakkhitā bhāturakkhitā bhaginirakkhitā ñātirakkhitā gottarakkhitā dhammarakkhitā sasāmikā saparidaṇḍā antamaso mālā<b>guḷa</b>parikkhittāpi, tathārūpāsu cārittaṁ āpajjitā hoti. <br class=btwntrn>
They commit sexual misconduct. They have sexual relations with women who have their mother, father, both mother and father, brother, sister, relatives, or clan as guardian. They have sexual relations with a woman who is protected on principle, or who has a husband, or whose violation is punishable by law, or even one who has been garlanded as a token of betrothal. <br class=btwntrn>
<br class="styled">
Kāmesumicchācāraṁ pahāya kāmesumicchācārā paṭivirato hoti. Yā tā māturakkhitā …pe… antamaso mālā<b>guḷa</b>parikkhittāpi, tathārūpāsu na cārittaṁ āpajjitā hoti. <br class=btwntrn>
They give up sexual misconduct. They don’t have sex with women who have their mother, father, both mother and father, brother, sister, relatives, or clan as guardian. They don’t have sex with a woman who is protected on principle, or who has a husband, or whose violation is punishable by law, or even one who has been garlanded as a token of betrothal. <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=an10.211&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/an10_211-pathama-niraya-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=an10.211&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=an10.217&lang=pli-eng>an10.217</a></td>
<td>mālā<b>guḷa</b>parikkhittāpi</td>
<td>2</td>   
<td>2</td>
<td><strong>Aṅguttara Nikāya 10.217 21. Karajakāyavagga Paṭhamasañcetanikasutta</strong></td>
<td>
Kāmesumicchācārī hoti, yā tā māturakkhitā …pe… antamaso mālā<b>guḷa</b>parikkhittāpi, tathārūpāsu cārittaṁ āpajjitā hoti. <br class=btwntrn>
They commit sexual misconduct. They have sex with women who have their mother, father, both mother and father, brother, sister, relatives, or clan as guardian. They have sex with a woman who is protected on principle, or who has a husband, or whose violation is punishable by law, or even one who has been garlanded as a token of betrothal. <br class=btwntrn>
<br class="styled">
Kāmesumicchācāraṁ pahāya, kāmesumicchācārā paṭivirato hoti. Yā tā māturakkhitā …pe… antamaso mālā<b>guḷa</b>parikkhittāpi, tathārūpāsu na cārittaṁ āpajjitā hoti. <br class=btwntrn>
They give up sexual misconduct. They don’t have sex with women who have their mother, father, both mother and father, brother, sister, relatives, or clan as guardian. They don’t have sex with a woman who is protected on principle, or who has a husband, or whose violation is punishable by law, or even one who has been garlanded as a token of betrothal. <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=an10.217&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/an10_217-pathama-sancetanika-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=an10.217&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=dn23&lang=pli-eng>dn23</a></td>
<td>ayo<b>guḷa</b>ṁ <b>guḷa</b>vālakāni santattaayo<b>guḷa</b>upamā</td>
<td>4</td>   
<td>9</td>
<td><strong>Dīgha Nikāya 23 Pāyāsisutta</strong></td>
<td>
2.8. Santattaayo<b>guḷa</b>upamā <br class=btwntrn>
2.8. The Simile of the Hot Iron Ball <br class=btwntrn>
<br class="styled">
Seyyathāpi, rājañña, puriso divasaṁ santattaṁ ayo<b>guḷa</b>ṁ ādittaṁ sampajjalitaṁ sajotibhūtaṁ tulāya tuleyya. <br class=btwntrn>
Suppose a person was to heat an iron ball all day until it was burning, blazing, and glowing, and then they weigh it with scales. <br class=btwntrn>
<br class="styled">
Tasmiṁ kho pana dāne evarūpaṁ bhojanaṁ dīyati kaṇājakaṁ bilaṅgadutiyaṁ, dhorakāni ca vatthāni <b>guḷa</b>vālakāni. <br class=btwntrn>
At that offering such food as rough gruel with pickles was given, and heavy clothes with knotted fringes. <br class=btwntrn>
<br class="styled">
“Bhoto kho dāne evarūpaṁ bhojanaṁ dīyati kaṇājakaṁ bilaṅgadutiyaṁ, yaṁ bhavaṁ pādāpi na iccheyya samphusituṁ, kuto bhuñjituṁ, dhorakāni ca vatthāni <b>guḷa</b>vālakāni, yāni bhavaṁ pādāpi na iccheyya samphusituṁ, kuto paridahituṁ. <br class=btwntrn>
“At your offering such food as rough gruel with pickles was given, which you wouldn’t even want to touch with your foot, much less eat. And also heavy clothes with knotted fringes, which you also wouldn’t want to touch with your foot, much less wear. <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=dn23&lang=pli>Pali</a>   <a target="_blank" href=https://find.dhamma.gift/sc/?q=dn23&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=mn41&lang=pli-eng>mn41</a></td>
<td>mālā<b>guḷa</b>parikkhittāpi</td>
<td>2</td>   
<td>1</td>
<td><strong>Majjhima Nikāya 41 Sāleyyakasutta</strong></td>
<td>
Kāmesumicchācārī kho pana hoti. Yā tā māturakkhitā piturakkhitā mātāpiturakkhitā bhāturakkhitā bhaginirakkhitā ñātirakkhitā gottarakkhitā dhammarakkhitā sassāmikā saparidaṇḍā antamaso mālā<b>guḷa</b>parikkhittāpi, tathārūpāsu cārittaṁ āpajjitā hoti. <br class=btwntrn>
They commit sexual misconduct. They have sexual relations with women who have their mother, father, both mother and father, brother, sister, relatives, or clan as guardian. They have sexual relations with a woman who is protected on principle, or who has a husband, or whose violation is punishable by law, or even one who has been garlanded as a token of betrothal. <br class=btwntrn>
<br class="styled">
Kāmesumicchācāraṁ pahāya kāmesumicchācārā paṭivirato hoti. Yā tā māturakkhitā piturakkhitā mātāpiturakkhitā bhāturakkhitā bhaginirakkhitā ñātirakkhitā gottarakkhitā dhammarakkhitā sassāmikā saparidaṇḍā antamaso mālā<b>guḷa</b>parikkhittāpi, tathārūpāsu na cārittaṁ āpajjitā hoti. <br class=btwntrn>
They give up sexual misconduct. They don’t have sexual relations with women who have their mother, father, both mother and father, brother, sister, relatives, or clan as guardian. They don’t have sexual relations with a woman who is protected on principle, or who has a husband, or whose violation is punishable by law, or even one who has been garlanded as a token of betrothal. <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=mn41&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/mn41-saleyyaka-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=mn41&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=mn114&lang=pli-eng>mn114</a></td>
<td>mālā<b>guḷa</b>parikkhittāpi</td>
<td>4</td>   
<td>0</td>
<td><strong>Majjhima Nikāya 114 Sevitabbāsevitabbasutta</strong></td>
<td>
kāmesumicchācārī kho pana hoti, yā tā māturakkhitā piturakkhitā mātāpiturakkhitā bhāturakkhitā bhaginirakkhitā ñātirakkhitā gottarakkhitā dhammarakkhitā sassāmikā saparidaṇḍā antamaso mālā<b>guḷa</b>parikkhittāpi tathārūpāsu cārittaṁ āpajjitā hoti—<br class=btwntrn>
They commit sexual misconduct. They have sexual relations with women who have their mother, father, both mother and father, brother, sister, relatives, or clan as guardian. They have sexual relations with a woman who is protected on principle, or who has a husband, or whose violation is punishable by law, or even one who has been garlanded as a token of betrothal. <br class=btwntrn>
<br class="styled">
kāmesumicchācāraṁ pahāya kāmesumicchācārā paṭivirato hoti, yā tā māturakkhitā piturakkhitā mātāpiturakkhitā bhāturakkhitā bhaginirakkhitā ñātirakkhitā gottarakkhitā dhammarakkhitā sassāmikā saparidaṇḍā antamaso mālā<b>guḷa</b>parikkhittāpi tathārūpāsu na cārittaṁ āpajjitā hoti—<br class=btwntrn>
They give up sexual misconduct. They don’t have sexual relations with women who have their mother, father, both mother and father, brother, sister, relatives, or clan as guardian. They don’t have sexual relations with a woman who is protected on principle, or who has a husband, or whose violation is punishable by law, or even one who has been garlanded as a token of betrothal. <br class=btwntrn>
<br class="styled">
kāmesumicchācārī kho pana hoti, yā tā māturakkhitā piturakkhitā mātāpiturakkhitā bhāturakkhitā bhaginirakkhitā ñātirakkhitā gottarakkhitā dhammarakkhitā sassāmikā saparidaṇḍā antamaso mālā<b>guḷa</b>parikkhittāpi tathārūpāsu cārittaṁ āpajjitā hoti—<br class=btwntrn>
  mn114 <br class=btwntrn>
<br class="styled">
kāmesumicchācāraṁ pahāya kāmesumicchācārā paṭivirato hoti, yā tā māturakkhitā piturakkhitā mātāpiturakkhitā bhāturakkhitā bhaginirakkhitā ñātirakkhitā gottarakkhitā dhammarakkhitā sassāmikā saparidaṇḍā antamaso mālā<b>guḷa</b>parikkhittāpi tathārūpāsu na cārittaṁ āpajjitā hoti—<br class=btwntrn>
  mn114 <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=mn114&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/mn114-setitabba-sevitabba-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=mn114&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=mn119&lang=pli-eng>mn119</a></td>
<td>silā<b>guḷa</b>ṁ sutta<b>guḷa</b>ṁ</td>
<td>4</td>   
<td>20</td>
<td><strong>Majjhima Nikāya 119 Kāyagatāsatisutta</strong></td>
<td>
Seyyathāpi, bhikkhave, puriso garukaṁ silā<b>guḷa</b>ṁ allamattikāpuñje pakkhipeyya. <br class=btwntrn>
Suppose a person were to throw a heavy stone ball on a mound of wet clay. <br class=btwntrn>
<br class="styled">
api nu taṁ garukaṁ silā<b>guḷa</b>ṁ allamattikāpuñje labhetha otāran”ti? <br class=btwntrn>
Would that heavy stone ball find an entry into that mound of wet clay?” <br class=btwntrn>
<br class="styled">
Seyyathāpi, bhikkhave, puriso lahukaṁ sutta<b>guḷa</b>ṁ sabbasāramaye aggaḷaphalake pakkhipeyya. <br class=btwntrn>
Suppose a person were to throw a light ball of string at a door-panel made entirely of hardwood. <br class=btwntrn>
<br class="styled">
api nu so puriso taṁ lahukaṁ sutta<b>guḷa</b>ṁ sabbasāramaye aggaḷaphalake labhetha otāran”ti? <br class=btwntrn>
Would that light ball of string find an entry into that door-panel made entirely of hardwood?” <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=mn119&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/mn119-kayagatasati-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=mn119&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=mn130&lang=pli-eng>mn130</a></td>
<td>loha<b>guḷa</b>ṁ</td>
<td>1</td>   
<td>1</td>
<td><strong>Majjhima Nikāya 130 Devadūtasutta</strong></td>
<td>
Tamenaṁ, bhikkhave, nirayapālā tattena ayosaṅkunā mukhaṁ vivaritvā ādittena sampajjalitena sajotibhūtena tattaṁ loha<b>guḷa</b>ṁ mukhe pakkhipanti ādittaṁ sampajjalitaṁ sajotibhūtaṁ. <br class=btwntrn>
The wardens of hell force open their mouth with a hot iron spike—burning, blazing, glowing—and shove in a red-hot copper ball, burning, blazing, and glowing. <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=mn130&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/mn130-devaduta-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=mn130&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.21&lang=pli-eng>sn51.21</a></td>
<td>ayo<b>guḷa</b>vagga</td>
<td>1</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.21 3. Ayoguḷavagga Maggasutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.21&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/sn51_21-magga-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.21&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.22&lang=pli-eng>sn51.22</a></td>
<td>ayo<b>guḷa</b>sutta ayo<b>guḷa</b>vagga</td>
<td>2</td>   
<td>2</td>
<td><strong>Saṁyutta Nikāya 51.22 3. Ayoguḷavagga Ayoguḷasutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
Ayo<b>guḷa</b>sutta <br class=btwntrn>
The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.22&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/sn51_22-ayogula-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.22&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.23&lang=pli-eng>sn51.23</a></td>
<td>ayo<b>guḷa</b>vagga</td>
<td>1</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.23 3. Ayoguḷavagga Bhikkhusutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.23&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/sn51_23-bhikkhu-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.23&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.24&lang=pli-eng>sn51.24</a></td>
<td>ayo<b>guḷa</b>vagga</td>
<td>1</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.24 3. Ayoguḷavagga Suddhikasutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.24&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/sn51_24-suddhika-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.24&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.25&lang=pli-eng>sn51.25</a></td>
<td>ayo<b>guḷa</b>vagga</td>
<td>1</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.25 3. Ayoguḷavagga Paṭhamaphalasutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.25&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/sn51_25-pathama-phala-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.25&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.26&lang=pli-eng>sn51.26</a></td>
<td>ayo<b>guḷa</b>vagga</td>
<td>1</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.26 3. Ayoguḷavagga Dutiyaphalasutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.26&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/sn51_26-dutiya-phala-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.26&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.27&lang=pli-eng>sn51.27</a></td>
<td>ayo<b>guḷa</b>vagga</td>
<td>1</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.27 3. Ayoguḷavagga Paṭhamaānandasutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.27&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/sn51_27-30-suttas-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.27&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.28&lang=pli-eng>sn51.28</a></td>
<td>ayo<b>guḷa</b>vagga</td>
<td>1</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.28 3. Ayoguḷavagga Dutiyaānandasutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.28&lang=pli>Pali</a>   <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.28&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.29&lang=pli-eng>sn51.29</a></td>
<td>ayo<b>guḷa</b>vagga</td>
<td>1</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.29 3. Ayoguḷavagga Paṭhamabhikkhusutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.29&lang=pli>Pali</a>   <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.29&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.30&lang=pli-eng>sn51.30</a></td>
<td>ayo<b>guḷa</b>vagga</td>
<td>1</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.30 3. Ayoguḷavagga Dutiyabhikkhusutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.30&lang=pli>Pali</a>   <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.30&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.31&lang=pli-eng>sn51.31</a></td>
<td>ayo<b>guḷa</b>vagga</td>
<td>1</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.31 3. Ayoguḷavagga Moggallānasutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.31&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/sn51_31-moggallana-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.31&lang=eng>English</a></td>
</tr>
<tr>
<td><a class="freebutton" target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.32&lang=pli-eng>sn51.32</a></td>
<td>ayo<b>guḷa</b>vagga ayo<b>guḷa</b>vaggo</td>
<td>2</td>   
<td>0</td>
<td><strong>Saṁyutta Nikāya 51.32 3. Ayoguḷavagga Tathāgatasutta</strong></td>
<td>
3. Ayo<b>guḷa</b>vagga <br class=btwntrn>
3. The Iron Ball <br class=btwntrn>
<br class="styled">
Ayo<b>guḷa</b>vaggo tatiyo. <br class=btwntrn>
  sn51.32 <br class=btwntrn>
<br class="styled">
</td>
<td><a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.32&lang=pli>Pali</a> <a target=_blank href=https://www.theravada.ru/Teaching/Canon/Suttanta/Texts/sn51_32-tathagata-sutta-sv.htm>Русский</a>  <a target="_blank" href=https://find.dhamma.gift/sc/?q=sn51.32&lang=eng>English</a></td>
</tr>
</tbody>
</table>
<a href=/>Main page </a>
<a href=/output/adhivacanas_suttanta_pali_words.html>Words</a>

</div>
    <script type='text/javascript'>	

$(document).ready(function (){


    var table = $('#pali').DataTable({
	  'responsive': true,
	  'columnDefs': [{ type: 'natural', targets: '_all' }
                    ],  
		//'language': {
          //  url: '/templates/DataTables_ru.json'
			//		}
    });
	  
    // Handle click on "Expand All" button
    $('#btn-show-all-children').on('click', function(){
        // Expand row details
        table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
    });
    // Handle click on "Collapse All" button
    $('#btn-hide-all-children').on('click', function(){
        // Collapse row details
        table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
    });


  
});

	


  </script>

</body>
</html>
