    <h3>$title</h3>
    <button id="btn-hide-all-children" type="button">Saṁvaṭṭo</button>    
<button id="btn-show-all-children" type="button">Vivaṭṭo</button>
<hr>
<table id="pali" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Sutta</th>
            <th>Words</th>
            <th>Count</th>
            <th>Metaphors</th>
            <th class="none">Title</th>
            <th class="none">Quote</th>
            <th class="none">Full texts</th>
        </tr>
    </thead>
    <tbody>